@charset "UTF-8";
   body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
       
      .small--board {
	background-color: white;
	height: 80px;
	width: 300px;
	box-shadow: 0 0 3px 3px #e5e5e5;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	float: left;
	margin: 30px 15px 20px 15px;
}

.icon--div {
	border-radius: 50%;
	background-color: #f0f0f0;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.img1{
	width: 75%; 

}
.img2{
	width: 80%;
}
.img3{
	width: 100%;
	height: 115%;
}
.img4{
	width: 65%;
}
.middle--board {
	background-color: white;
	height: 400px;
	width: 660px;
	box-shadow: 0 0 3px 3px #e5e5e5;
	margin: 20px 15px 20px 15px;
	padding: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}



.long--board {
	background-color: white;
	height: 400px;
	width: 1290px;
	box-shadow: 0 0 3px 3px #e5e5e5;
	padding: 12px;
	margin: 20px 15px 20px 15px;
}

#salesChart {
	width: 1230px !important;
	
}
#customerFeedbackChart{
	width: 600px !important;
}
#customerFeedbackData{
	width: 600px !important;
}
